<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated addressbook -->
      <package
            uri="addressbook.univrouen.fr"
            class="addressbook.univrouen.fr.addressbook.AddressbookPackage"
            genModel="model/addressbook.genmodel"/>
   </extension>

</plugin>
